
/*** 

====================================================================
Main Header
====================================================================

***/

.header-span {
    position: relative;
    height: 110px;
    display: block;
    width: 100%;
}

.main-header {
    position: relative;
    width: 100%;
    z-index: 999;
}

.header-top {
    position: relative;
    display: flex;
    .header-top-content {
        display: flex;
        // flex-wrap: wrap;
        padding: 24px 0 10px;
    }
    .top-left { 
        position: relative;
        display: flex;
        align-items: center;
        .info-list {
            color: #ffffff;
            font-size: 14px;
            span {
                color: #b5cf2b;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
    .top-center {
        margin-left: auto;
        margin-right: auto;
    }
    .top-right {
        position: relative;
        display: flex;
        align-items: center;
        button{
            display: flex;
            align-items: center;
            color: #ffffff;
            font-size: 14px;
            background:transparent;
            span, img {
                margin-right: 10px;
                display: inline-block;
            }
            span {
                font-size: 20px;
            }
            &.login-btn {
                margin-left: 72px;
                i {
                    font-size: 18px;
                    margin-right: 7px;
                }
            }
        }
    }
}

.main-header .header-lower {
    position: relative;
    transition: all 300ms ease;
    .logo-box {
        position: relative;
    }
}

.main-header {
    width: 100%;
    z-index: 999;
    .logo {
        position: relative;
        display: block;

        img {
            max-width: 100%;
            height: auto;
        }
    }
    .main-box {
        position: relative;
        left: 0px;
        top: 0px;
        display: flex;
        align-items: center;
        transition: all 300ms ease;
        .nav-outer {
            position: relative;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.main-menu{
    position:relative;
    margin-top: -5px;
    @include media-breakpoint-down(lg){
        display: none;
    }
}

.main-menu .navbar-header{
    display: none;
}

.main-menu .navbar-collapse{
    padding:0px;    
}

.main-menu .navigation{
    position:relative;
    margin:0px;
}

.main-menu .navigation > li{
    position:relative;
    float:left;
    padding:25px 0px;
    margin-right: 44px;
    transition:all 300ms ease;
    &:last-child {
        margin-right: 0;
    }
    >a{
        position:relative;
        display:block;
        text-align:center;
        opacity:1;
        color: #ffffff;
        font-size:16px;
        line-height:30px;
        text-transform: capitalize;
        padding: 0;
        display: flex;
        transition:all 300ms ease;
        &:hover {
            color: var(--theme-color1);
        }
    }
    &.dropdown:hover>ul {
        visibility: visible;
        opacity: 1;
        top: 100%;
        margin-top: 0;
        z-index: 99;
        transition: all 300ms ease;
    }
}

.main-menu .navigation > li > ul{
    position: absolute;
    left: 0px;
    top: 100%;
    width: 220px;
    z-index: 100;
    padding: 10px 0 0;
    background-color: #ffffff;
    margin-top: 30px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 3px rgb(0 0 0 / 10%);
    box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 5%), -2px 0px 5px 1px rgb(0 0 0 / 5%);
    &.from-right{
        left:auto;
        right:0px;  
    }
    >li{
        position:relative;
        width:100%;
        border-bottom: 1px solid #ebf1f5;
        &:last-child {
            border-bottom: none;
        }
        >a{
            position:relative;
            display:block;
            padding:10px 0px;
            line-height:29px;
            font-weight:400;
            font-size:16px;
            color: #000;
            text-align:left;
            margin: 0 30px;
            text-transform:capitalize;
            transition:all 200ms ease;
            &:hover {
                color: var(--theme-color1);
            }
        }
        &.dropdown > a:after{
            content: "\f105";
            display:block;
            font-family: 'Font Awesome 6 Pro';
            font-size:14px;
            font-weight:900;
            line-height:24px;
            position:absolute;
            right:0;
            top:11px;
            z-index:5;  
        }
        &.dropdown:hover>ul {
            margin-top: 20px;
            opacity: 1;
            top: 0px;
            visibility: visible;
            transition: all 300ms ease;
        }
    }
}

.main-menu .navigation > li > ul > li > ul{
    background-color:#ffffff;
    box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
    left:100%;
    margin-top: 10px;
    opacity:0;
    padding: 10px 0 0;
    position:absolute;
    top:0px;
    width:220px;
    z-index:100;
    transform:translateY(-22px);
    > li{
        border-bottom: 1px solid #ebf1f5;
        position:relative;
        width:100%;
        &:last-child{
            border-bottom:none; 
        }
        > a{
            color:var(--theme-color1);
            display:block;
            font-weight:400;
            font-size:16px;
            line-height:24px;
            margin: 0 30px;
            padding:10px 0;
            position:relative;
            text-align: left;
            text-transform:capitalize;
            transition:all 300ms ease;
            &:hover{
                color:var(--theme-color1);
            }
        }
    }
}

.main-menu .navigation li.dropdown .dropdown-btn{
    position:absolute;
    right:10px;
    top:8px;
    width:34px;
    height:30px;
    border:1px solid #ffffff;
    text-align:center;
    font-size:16px;
    line-height:26px;
    color:#ffffff;
    cursor:pointer;
    z-index:5;
    display:none;
}

.main-header .outer-box {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    .header-btn {
        display: inline-block;
        color: #ffffff;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 15px;
        padding: 0 5px 0 38px;
        height: 60px;
        line-height: 60px;
        border:2px solid #fff;
        border-radius: 50px;
        span {
            margin-left: 10px;
            position: relative;
            top: -2px;
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-radius: 50%;
            background-color: var(--theme-color1);
            i {
                color: #000;
                font-size: 22px;
                font-weight: 900;
                top:4px;
                position: relative;
                transition: all 0.3s ease;
            }
        }
        &:hover {
            background-color: var(--theme-color1);
            border-color: transparent;
        }
    }
}
.main-header {
    .ui-btn-outer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 6px 0;
        border-left: 1px solid rgba(255,255,255,0.50);
        padding-left: 17px;
        position: relative;
        right: 117px;
    }
}

.main-header .ui-btn {
    position: relative;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background: none;
    font-size: 26px;
    color: #ffffff;
    transition: all 300ms ease;
    &:hover {
        color: var(--theme-color1);
    }
}

.main-header .info-btn {
    position: relative;
    font-size: 16px;
    padding-left: 44px;
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    white-space: nowrap;
    line-height: 20px;
    small{
        display: block;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--theme-color1);
    }
    .icon{
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -12px;
        line-height: 40px;
        height: 40px;
        font-size: 24px;
        line-height: 1em;
        margin-right: 20px;
        padding-right: 20px;
    }
    &:hover{
        color: var(--theme-color-light);
    }
}



/*** 

====================================================================
    header-style-one
====================================================================

***/

.header-style-one {
    position: absolute;
    background-color: var(--theme-color-dark);
    .btn {
        padding: 0;
    }
   .header-lower{
    padding-top: 7px;
        .main-box{
            .logo-box{
            }
            .nav-outer{
                margin-left: 192px;
                @include media-breakpoint-down(xl) {
                    display: none;
                }
            }
        }
        .main-menu .navigation > li > a {
            color: var(--theme-color-light);
            font-size: 15px;
            font-weight: 500;
            font-family: var(--text-font);
            &:hover {
                color: var(--theme-color1);
            }
        }
        .outer-box{
            @include media-breakpoint-down(xl) {
                margin-left: auto;
            }
            .contact-info{
                position: relative;
                padding-left: 50px;
                .image{
                    position: absolute;
                    top: 12px;
                    left: 0;
                }
                span{
                    font-size: 12px;
                    color: var(--theme-color-light);
                }
                .title{
                    color: var(--theme-color-light);
                    margin-top: -4px;
                    margin-bottom: 0;
                }
            }
            .social-list-one{
                display: flex;
                margin-left: 71px;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    top: -10px;
                    left: -31px;
                    width: 2px;
                    height: 50px;
                    background-color: #525c5c;
                }
                li{
                    margin-right: 48px;
                    &:last-child{
                        margin-right: 0;
                    }
                    a{
                        font-size: 24px;
                        color: var(--theme-color-light);
                    }
                }
            }
        }
        .main-menu .navigation > li {
            padding: 30px 0;
            margin-right: 41px;
            &:last-child{
                margin-right: 0;
            }
        }
        .main-menu .navigation li.dropdown .dropdown-btn {
            display: inline-block;
            border:2px;
            top: auto;
            bottom:30px;
            right: -14px;
            width: auto;
            height: unset;
            font-size: 10px;
            color: #8f8f8f;
        }
        .main-menu .navigation li.dropdown ul .dropdown-btn {
            display: none;
        }
        .mobile-nav-toggler {
            display: inline-block;
            order:unset;
            color: #000;
            margin-left: 25px;
            display: none;
            @include media-breakpoint-down(xl) {
                display: inline-block;
            }
            i{
                color: var(--theme-color-light);
            }
        }
        .main-menu .navigation > li > ul > li > a {
            &:hover {
                color: var(--theme-color1);
            }
        }
        .main-box .nav-outer{
            margin-right: auto;
        }
        .sticky-header {
            background-color: var(--theme-color-v2);
            .mobile-nav-toggler {
                display: none;
            }
            .main-menu .navigation > li.current > a, .main-menu .navigation > li:hover > a {
                color: var(--theme-color-v2);
            }
            .main-menu .navigation > li {
                padding: 0;
            }
            &.fixed-header {
                height: 70px;
                display: flex;
                align-items: center;
                background: #000;
            }
            .main-menu {
                height: 100%;
                display: flex;
                align-items: center;
            }
            .main-menu .navigation > li.current > a, .main-menu .navigation > li:hover > a {
                color: #fff;
            }
            .main-menu .navigation li.dropdown .dropdown-btn {
                color: #fff;
            }
            .inner-container {
                align-items: center;
            }
        }
        .contact-info{
            @include media-breakpoint-down(md){
                display: none;
            }
            @include media-breakpoint-down(sm){
                display: unset;
                width: 232px;
                margin-left: -170px;
            }
        }
        .outer-box{
            position: relative;
            @include media-breakpoint-down(md) {
                &:before {
                    display: none;
                }
            }
            .theme-btn {
                padding: 0 35px;
                line-height: 59px;
                height: 59px;
                font-weight: 700;
                text-transform: uppercase;
                font-family: var(--text-font);
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
            .theme-btn.v2{
                border-radius: 50px;
            }
            .search-btn{
                margin-right: 30px;
                @include media-breakpoint-down(md) {
                    display: none;
                }
                .search{
                    font-size: 24px;
                    color: var(--theme-color-light);
                }
            }
        }
    }
}



/*** 

====================================================================
Sticky Header
====================================================================

***/

.sticky-header {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 10px 0;
    z-index: 99999;
    background: #000;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.05);
    box-shadow: 0 0 20px rgba(0,0,0,.05);
    .inner-container {
        display: flex;
        align-items: center;
    }
}

.sticky-header.fixed-header{
    opacity:1;
    z-index: 9999;
    visibility:visible;
}

.sticky-header{
    .logo {
        padding: 10px 0;
        img {
            max-height: 40px;
        }
    }
    .nav-outer {
        position: relative;
        background: none;
        margin-left: auto;
    }
}


.sticky-header .main-menu .navigation > li{
    margin: 0;
    margin-left: 60px;
    padding: 20px 0;
}

.sticky-header .main-menu .navigation > li > a{
    color: #fff;
}

.sticky-header .main-menu .navigation > li.current > a, 
.sticky-header .main-menu .navigation > li:hover > a{
    color: var(--theme-color1);
}

.sticky-header .outer-box,
.sticky-header .navbar-header {
    display: none;
}

@media only screen and (max-width:1550px) {
    .header-style-three .header-lower .main-box .nav-outer {margin-left: 50px;}
    .header-style-three .header-lower .main-menu .navigation > li {margin-right: 30px;}
}

@media only screen and (max-width:1366px) {
    .header-style-three .header-lower .main-menu .navigation > li {margin-right: 20px;}
}



@media only screen and (max-width:576px) {
    .header-style-three .header-lower{padding: 0;}
}
@media only screen and (min-width: 768px){
    .main-menu .navigation > li > ul,
    .main-menu .navigation > li > ul > li > ul{
        display:block !important;
        visibility:hidden;
        opacity:0;
    }
}