/*** 

====================================================================
	testimonial Section
====================================================================

***/

.testimonial-section{
    position: relative;
    padding: 120px 0 158px;
    .inner-container{
        max-width: 1000px;
        margin: 0 auto;
    }
    .slick-dots{
        background-color: unset;
        li{
            border-radius: 50%;
            transition: .5s;
            position: relative;
            cursor: pointer;
            margin: 8px 4px 8px 8px;
            width: 15px;
            height: 15px;
            opacity: 1;
            top: 38px;
            background: #e8e8e8;
            transition: all 0.3s ease;
        }
        .slick-active{
            background-color: var(--theme-color1);
            width: 30px;
            border-radius: 10px;
        }
    }
    .sec-title{
        h2{
            @include media-breakpoint-down(sm){
                font-size: 25px;
                line-height: 35px;
            }
        }
    }
}

.testimonial-block{
    margin: 0 15px;
    .inner-box{
        border: 1px solid #febfac;
        background: var(--theme-color-light);
        padding: 40px;
        transition: all 0.3s ease;
        @include media-breakpoint-down(sm){
            font-size: 40px 35px;
        }
        &:hover{
            border-color: var(--theme-color1);
        }
        .icon-box{
            margin-bottom: 18px;
            i{
                color: var(--theme-color1);
                font-size: 51px;
            }
        }
        .content-box{
            .text{
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                font-family: var(--title-font);
                color: var(--theme-color-dark2);
                border-bottom: 1px solid var(--theme-color1);
                padding-bottom: 24px;
                margin-bottom: 25px;
                @include media-breakpoint-down(lg){
                    font-size: 17px;
                }
            }
            .auther-info{
                display: flex;
                align-items: center;
                .info-box{
                    margin-left: 18px;
                    .title{
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 28px;
                        text-transform: uppercase;
                        margin-bottom: 4px;
                    }
                    span{
                        font-size: 14px;
                        line-height: 22px;
                        display: block;
                        text-transform: capitalize;
                        font-family: var(--text-font);
                        font-weight: 500;
                    }
                }
            }
        }
    }
}


/*** 

====================================================================
	testimonial Section two
====================================================================

***/

.testimonial-section-two{
    position: relative;
    padding: 120px 0 158px;
    .inner-container{
        max-width: 1000px;
        margin: 0 auto;
    }
    .slick-dots{
        background-color: unset;
        li{
            border-radius: 50%;
            transition: .5s;
            position: relative;
            cursor: pointer;
            margin: 8px 4px 8px 8px;
            width: 15px;
            height: 15px;
            opacity: 1;
            top: 38px;
            background: #e8e8e8;
            transition: all 0.3s ease;
        }
        .slick-active{
            background-color: var(--theme-color1);
            width: 30px;
            border-radius: 10px;
        }
    }
    .sec-title{
        h2{
            @include media-breakpoint-down(sm){
                font-size: 25px;
                line-height: 35px;
            }
        }
    }
}

.testimonial-block-two{
    margin: 0 15px;
    .inner-box{
        transition: all 0.3s ease;
        text-align: center;
        padding: 30px 30px 28px;
        border-radius: 20px;
        background: var(--theme-color-light);
        border:1px solid #ddd;
        .content-box{
            .text{
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                border-top: 1px solid var(--theme-color1);
                margin-bottom: 18px;
                padding-top: 21px;
            }
            .rating{
                display: flex;
                justify-content: center;
                li{
                    color: rgba(255, 160, 17, 1);
                    margin-right: 9px;
                    &:last-child{
                        color: var(--text-color);
                        margin-right: 0;
                    }
                }
            }
            .auther-info{
                margin-bottom: 19px;
                img{
                    display: unset;
                    margin-bottom: 10px;
                }
                .info-box{
                    .title{
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 26px;
                        text-transform: uppercase;
                        margin-bottom: 4px;
                        color: rgba(32, 32, 32, 1);
                    }
                    span{
                        font-size: 14px;
                        line-height: 22px;
                        display: block;
                        text-transform: capitalize;
                        font-family: var(--text-font);
                        font-weight: 500;
                        color: rgba(80, 80, 80, 1);
                    }
                }
            }
        }
    }
}